body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;

    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    text-align: center;

    font-family: sans-serif;
    font-weight: bold;
}

#main {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

@media only screen and (max-width: 768px) {
    #main {
        width: 80%;
    }
}

#main.light {
    color: white;
}

#title {
    font-size: 2em;
}

#color-code {
    font-size: 3em;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;

    margin: 50px 0 0;
}

#slider::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    background: black;
    height: 3px;
}

.light #slider::-webkit-slider-runnable-track {
    background: #fff;
}

#slider::-moz-range-track {
    width: 100%;
    cursor: pointer;
    background: black;
    height: 3px;
}

.light #slider::-moz-range-track {
    background: #fff;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    transform: translateY(-11px);
}

.light #slider::-webkit-slider-thumb {
    background: #fff;
!important;
}

#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.light #slider::-moz-range-thumb {
    background: #fff;
!important;
}

#thumbs {
    width: 100%;
    font-size: 1em;
}

#thumbs-up {
    float: right;
}

#thumbs-down {
    float: left;
}

#vote-button {
    margin-top: 40px;
    display: inline-block;
    padding: 10px;
    border: solid 5px black;
    border-radius: 10px;
    font-size: 2em;
    cursor: default;
}

#vote-button.enabled {
    cursor: pointer;
}

#vote-button:hover {
    background-color: black;
    color: white;
}

.light #vote-button {
    border-color: white;
    color: white;
}

.light #vote-button:hover {
    background-color: white;
    color: black
}

#leaderboard {
    color: black;
    font-size: 1em;
    position: fixed;
    bottom: 30px;
    left: 30px;
}

.light #leaderboard {
    color: white;
}

#leaderboard i {
    font-size: 3em;
    margin-left: 5px;
}

#leaderboard a, #leaderboard a:visited {
    color: inherit;
    text-decoration: none;
}

#credit {
    color: black;
    font-size: 1em;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.light #credit {
    color: white;
}
#credit a, #credit a:visited {
    color: inherit;
    text-decoration: none;
}

#voteCountContainer {
    color: black;
    font-size: 1em;
    position: fixed;
    top: 30px;
    right: 30px;

    opacity: 0.8;
}
.light #voteCountContainer {
    color: white;
}
