{% extends "text_page.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/about.css">
{% endblock %}

{% block page_name %}About{% endblock %}
{% block page_title %}About{% endblock %}

{% block page_content %}
    <div class="container" id="about-content">
        <h2>How it Works</h2>
        <p>
            256 colors are generated each week. The <a href="{{ url_for("main.leaderboard") }}">Leaderboard</a>
            page sorts the results by the average score of each color.
        </p>
        <h2>Author</h2>
        <p>
            <strong>rateMyColor</strong> was written by <a href="https://momoperes.ca" target="_blank">Aram Peres</a>.
            The core functionality was completed in about 4 hours, and additional UI improvements were brought
            subsequently.
        </p>
        <p>
            <a href="https://wavy.fm/profile/MattHey" target="_blank">Matei Cheong</a> gave the original idea for
            a website about voting for colors.
        </p>
        <h2>Privacy</h2>
        <p>
            This website only collects anonymized data:
        </p>
        <ul>
            <li>The score given to a color.</li>
        </ul>
        <p>
            This website does not use any cookies to track users.
        </p>
        <h2>Copyright</h2>
        <p>
            &copy; 2018 Aram Peres.
        </p>
    </div>
{% endblock %}
